# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C++ Builder Compiler output files
*.bpi
*.obj
*.lib
*.hpp
*.i
*.il?
*.#??
*.pbi

# IDE files
*.~*~
*.local
*.identcache
__history
__recovery
Win32

# More weird files
*.stat
*.map
*.pdi
*.tds
*.res